@import "base/reset";

@import "../pages/Login/login";

.any__title {
  font-weight: lighter;
}

.form {
  position: relative;
  max-width: 300px;
  margin: auto;
}

.form__input {
  display: block!important;
  width: 100%!important;
}

.form__input--singlerow {
  padding-left: 10px;
}

.form__btn {
  position: absolute;
  width: 150px;
  margin: auto;
  left: 0;
  right: 0;
  bottom: -70px;
}

.form__btn--singlerow {
  position: absolute;
  right: 20px;
  top: 45px;
}

.form__btn--multi {
  margin: 0 20px 20px 20px;
}

.list-viewer {
  width: 300px;
  margin: auto;
  padding: 30px 20px 0 10px;
}

.item-viewer {
  position: relative;
  margin-left: 350px;
}

@media only screen and (max-width: 708px) {
  .item-viewer {
    margin-left: 0;
  }
}

.list-viewer__label,
.item-viewer__label {
  width: 100%;
  padding: 10px;
  margin: -10px 0;
}

.item-viewer__addbtn {
  position: absolute;
  width: 290px;
  margin: auto;
  left: 0;
  right: 0;
  top: 100px;
}

.lists {
  position: relative;
  margin: 100px auto 0 auto;
  max-width: 300px;
}

.lists__switch {
  text-align: right;
}

.lists__switch-item {
  height: 15px;
  cursor: pointer;
}

.lists__switch-item--active {
  color: #29B6F6;
  text-decoration: underline
}

.close-right {
  position: absolute;
  float: right;
  top: 20px;
  padding-top: 5px!important;
}

.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  zoom: 1;
}
